#banner {
    background-color: #E16036;
    color: #F6F6F6;
    min-height: 10rem;
    padding: 2.5rem;
    padding-bottom: .5rem;
    overflow: auto; 
    display: flex;
    justify-content: space-between;
}

#banner_text {
    /* float: left; */
    text-align: left;
    caret-color: transparent;
    width: 40%;    
}
  
#banner_form {
    /* float: right; */
    display: block;
    /* margin-top: 10px; */
    width: 55%;
    max-width: 450px;
}

#baner_input_and_button {
    display: flex;
}

#input_form {
    margin-right: 20px;
    max-width: 300px; 
    margin: auto;
}
#input_form:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px 2px #519872;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px 2px #519872;
}
#input_button {
    color:#E16036;
    width: 250px;
    margin-left: 20px;
    background-color: #F6F6F6;
    caret-color: transparent;    
    white-space: nowrap;   
}
#input_button:hover {
    background-color: #dbdbdb;
}
#input_button:focus {
    background-color: #dbdbdb;
}
#list_loading {
    font-size: 1.2rem;
    margin-top: .5rem;
}
.disabled_item {
    pointer-events: none;
    opacity: .6;
}

