$background: #F6F6F6;

$primary: #E16036;
$secondary: #519872;

$btnColor: #f6f6f6;

// $background: #333333;

// $primary: #ffffff;
// $secondary: #aaaaff;

// $btnColor: #777777;

$btnHover: lighten($btnColor, 10%);
$btnInactiveText: #ffffff;

@if (lightness($btnColor) > 50) {
    $btnHover: darken($btnColor, 10%);
    $btnInactiveText: #000000;
}


// $background: #333333;
// $backgroundHover: #555555;

// $primary: #ffffff;
// $secondary: #aaaaff;
// $ternary: #dddddd;

// $btnColor: #333333;
// $btnHover: #555555;


