$background: #F6F6F6;
$backgroundHover: #dbdbdb;

$primary: #E16036;
$secondary: #519872;
$ternary: #000000;

$btnColor: #f6f6f6;
$btnHover: #dbdbdb;


// $background: #333333;
// $backgroundHover: #555555;

// $primary: #ffffff;
// $secondary: #aaaaff;
// $ternary: #dddddd;

// $btnColor: #333333;
// $btnHover: #555555;


