#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #E16036;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    caret-color: transparent;
}
  
body {
    background-color: #F6F6F6;
}

.invisible {
    visibility: hidden
}
   

.divider {
    background-color: #E16036;
    height: 8px;
    width: 55%;
    margin: auto;
}
  
.above_divider {
    margin-bottom: 18px;
}
  
.below_divider {
    margin-top: 18px; 
}

#city_not_found {
    margin-top: 20px;
}


  





