#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #E16036;
    padding-bottom: 30px;
    padding-top: 30px;
}
  
#map { 
    display: block;
    height: 500px; 
    max-height: 500px; 
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
    overflow: hidden
}
  
body {
    background-color: #F6F6F6;
}

.city_choice {
    width: 55%;
    margin: auto;
    caret-color: transparent;
}
  
.city_choice:hover {
    color: #519872;
}

.city_choice:focus {
    color: #519872;
    outline: none;
}
  
.invisible {
    visibility: hidden
}
  
#banner {
    background-color: #E16036;
    color: #F6F6F6;
    height: 150px;
    padding: 30px;
}
  
#input_form {
    margin-right: 20px;
    max-width: 300px; margin: auto;
}
#input_form:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px 2px #519872;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px 2px #519872;
}
  
#input_button {
    color:#E16036;
    width: 250px;
    margin-left: 20px;
    background-color: #F6F6F6;
    caret-color: transparent;       
}
#input_button:hover {
    background-color: #dbdbdb;
}
#input_button:focus {
    background-color: #dbdbdb;
}
  
#banner_text {
    float: left;
    text-align: left;
    caret-color: transparent;    
}
  
#banner_form {
    float: right;
    display: inline-flex;
    margin-top: 10px;
}
  
#disambiguation_info {
    margin-top: 25px;
}
  
#buddy_match_info {
    margin-top: 25px;
}
  
.divider {
    background-color: #E16036;
    height: 8px;
    width: 55%;
    margin: auto;
}
  
.above_divider {
    margin-bottom: 18px;
    caret-color: transparent;
}
  
.below_divider {
    margin-top: 18px; 
    caret-color: transparent;
}

#list_loading {
    position:absolute; 
    top: 120px;
    font-size: 18px;
}

#city_not_found {
    margin-top: 20px;
    caret-color: transparent;
}

.disabled_input {
    pointer-events: none;
    opacity: .6;

}
.disabled_button {
    pointer-events: none;
    opacity: .6;

}